.btn {
    -webkit-appearance: none;
    margin: 5px;
}
.btn {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    margin: 5px;
    width: 100px;
    height: 40px;
    padding: 10px;
    border: none;
    font-size: 16px;
}

.btn:hover {
    opacity: 0.7;
}

.btn:active {
    color: white;
}

.btn-submit {
    background-color: lightcoral;
}
#ingredient{
    border: 2px solid lightcoral;
}

th, td{
    border: 1px solid lightcoral;
}
#ingredient{
    border: 2px solid lightcoral;
    border-collapse: collapse;
}
th, td{
    border: 1px solid lightcoral;
}
th{
    border: 1px solid lightcoral;
    background-color: mistyrose;
    padding: 5px;
    width: 100px;
    text-align: center;
}

td{
    border: 1px solid lightcoral;
    padding: 5px;
    width: 80px;
    text-align right;
}
caption{
    padding: 5px;
}

#price{
    background-color: lightyellow;
}

thead th, tfoot th{
    background-color: white;
}

thead td{
    color: white;
    background-color: lightcoral;
    text-align: center;
}

tfoot td{
    font-weight: bold;
    background-color: white;
}
